/* body {
    font-family: Arial;
    text-align: center;
    background: #eaf7f0;
}

.container {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}
 */
